body {
    height: 100vh;
    /* background-color: black;
    background-image: url(../images/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    /*
        Shorthand - background
        color > image > position > repeat > [size] > attachment
        [size] funciona colocando a "/"
    */
    background: black url(../images/wallpaper002.jpg) center center/cover no-repeat fixed;    
}

main {
    background-color: white;
    max-width: 600px;
    padding: 10px;
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
}