@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 500px;
    border-collapse: collapse;
    position: relative;
}

caption {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
    background-color: lightgray;
}

td, th {
    border: 1px solid black;
    padding: 5px;    
}

thead, tfoot {
    background-color: gray;
    color: white;
}

thead > tr > th {                       /*fixa o thead*/
    position: sticky;
    top: 0px;
    background-color: gray;
}

tbody tr:nth-child(odd) {               /*(2n-1) efeito zebrado*/
    background-color: white;
}

tbody tr:nth-child(even) {              /*(2n) efeito zebrado*/
    background-color: lightgray;
}

.num {
    text-align: right;
}