@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightslategray;
    margin: 0px;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}
nav {
    background-color: rgb(119, 119, 119);
    padding: 3px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315); /*d.horizontal, d.vertigal, espalhamento, cor*/
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;        
}

nav > a:hover {
    color: yellow;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 0px 10px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}

article {
    background-color: lightgrey;
}

article > aside {
    background-color: rgb(175, 175, 175);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
}

footer > p {
    margin: 0px;
}

div#bola {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
}